<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <acid_gtm>
            <general>
                <active>0</active>
                <container_id/>
                <debug_enabled>0</debug_enabled>
                <prevent_push_when_logged_as_customer_enabled>1</prevent_push_when_logged_as_customer_enabled>
            </general>
            <page_load>
                <active>0</active>
                <event_name/>
                <pdp_load_event_name/>
                <plp_load_event_name/>
                <search_results_page_load_event_name/>
                <user_type_enabled>0</user_type_enabled>
                <handles_list_behavior>0</handles_list_behavior>
                <handles_list/>
                <custom_pages/>
            </page_load>
            <click>
                <product>
                    <active>0</active>
                    <event_name/>
                </product>
                <menu_item>
                    <active>0</active>
                    <event_name/>
                </menu_item>
                <swatch>
                    <active>0</active>
                    <event_name/>
                </swatch>
            </click>
            <checkout_flow>
                <add_to_cart>
                    <active>0</active>
                    <event_name/>
                </add_to_cart>
                <remove_from_cart>
                    <active>0</active>
                    <event_name/>
                </remove_from_cart>
                <cart_item_qty_changed>
                    <active>0</active>
                    <event_name/>
                </cart_item_qty_changed>
                <checkout_steps_reached>
                    <active>0</active>
                    <event_name/>
                </checkout_steps_reached>
                <purchase_done>
                    <active>0</active>
                    <event_name/>
                </purchase_done>
            </checkout_flow>
            <customer_session>
                <login>
                    <active>0</active>
                    <event_name/>
                    <failed_active>0</failed_active>
                    <failed_event_name/>
                </login>
                <logout>
                    <active>0</active>
                    <event_name/>
                </logout>
                <register>
                    <active>0</active>
                    <event_name/>
                    <failed_active>0</failed_active>
                    <failed_event_name/>
                </register>
            </customer_session>
            <exposure>
                <product>
                    <active>0</active>
                    <event_name/>
                </product>
                <menu_category>
                    <active>0</active>
                    <event_name/>
                </menu_category>
                <block>
                    <block/>
                    <event_name/>
                </block>
            </exposure>
            <wishlist>
                <add>
                    <active>0</active>
                    <event_name/>
                </add>
                <remove>
                    <active>0</active>
                    <event_name/>
                </remove>
            </wishlist>
        </acid_gtm>
    </default>
</config>
