<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- google tag manager item -->
        <add id="AcidUnit_GoogleTagManager::acid_gtm"
             title="Google Tag Manager"
             translate="title"
             module="AcidUnit_GoogleTagManager"
             sortOrder="20"
             parent="AcidUnit_Admin::acid_modules"
             action="admin/system_config/edit/section/acid_gtm"
             resource="AcidUnit_GoogleTagManager::acid_gtm"
        />
    </menu>
</config>
